<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <title>QUALITY TRANSPORT</title>
</head>

<body id="body">

    <div class="container">
        <nav class="barra">
            <div class="navbar__left">
                    <a href="/" class="active_link" name="barra1" id="navbar_a">Inicio</a>
                    <a href="/info" name="barra2" id="navbar_q">¿Quiénes somos?</a>
                    <a href="/servicios" name="barra3" id="navbar_a">Servicios</a>
                    <a href="/contact" name="barra4" id="navbar_a">Contáctanos</a>
                    <a href="/login" name="barra5" id="navbar_a">Iniciar sesión</a>
                    <a href="/register" name="barra6" id="navbar_a">Registrarse</a>
            </div>   
        </nav>
    
    <main>
        <div class="main__container">
            <div class="main__logo">
                <img src="/static/images/avatar.png" alt="Foto perfil user">
            </div>
            <br>
            <div class="main__title">
                <h1>MI PERFIL</h1>
            </div>
            <br>
            <div class="information">
                <table id="myTable" style="width:50%">
                    <tr>
                        <th>Usuario</th>
                        <th>Correo electrónico</th>
                    </tr>
                </table>
                <br><br>
                <button onclick="tablita2()">Ver mis datos</button>  
                <br>
            </div>

        </div>
    </main>
    <script src="/static/perfilcliente_script.js"></script>
    <script src="/static/register_script.js"></script>
</body>
</html>