<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <title>QUALITY TRANSPORT | Reservaciones</title>
</head>

<body id="body">

    <div class="container">
        <nav class="barra">
            <div class="navbar__left">
                <a href="/index_admi" class="active_link" name="barra1" id="navbar_a">Inicio</a>
                <a href="/reservaciones_admi" name="barra1" id="navbar_a">Ver reservaciones de nuestros clientes</a>
                <a href="/servicios_admi" class="active_link" name="barra2" id="navbar_a">Editar servicios</a>
                <a href="/index" class="active_link" name="barra3" id="navbar_a">Cerrar sesión</a>
            </div>
        </nav>
    

        <main>
            <div class="main__container">
                <div class="main__logo">
                    <img src="/static/images/logo.png" alt="Quality Transport logo">
                </div>
                <br>
                <div class="main__title">
                    <h1>RESERVAS DE CLIENTES QUALITY TRANSPORT</h1>
                </div>
            
                <div>
                    <br><br>
                    <a href="/tablasreservaciones_admi">Ver tabla de reservaciones</a>
                </div>
            </div>

            <script src="/static/reservacionAdmi_script.js"></script>
        </main>
        
    </div>
    <script src="/static/script.js"></script>
</body>

</html>